html {
    background: #38E5AB;
    background-size: 8px 8px;
}

body {
    background-color: #CFCFCF;
    color: #111111;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

article {
text-align:center;
}

body, footer, article, img, header nav ul{
border: 2px solid Gray;
border-radius:16px;
}

article {
    border: 2px Black;
    background-color: white;
    border-radius: 12px;
}

footer {
margin-top: 2px;
}

img.small {
float: left;
height: 200px;
margin-bottom: 24px;
margin-right: 24px;
}

img.medium {
float: left;
max-width: 360px;
width: 50%
}

img.large {
width: 100%
}


@media all and (min-width: 900px) {
    section1 {
        float: left;
        margin-left: 32px;
        width: 33%;
    }

    section2 {
        float: left;
        margin-left: 32px;
        width: 66%;
    }
}
    /* 
@media all and (min-width: 900px) {
 header h1 {
 float: left;
 width: 60%;
 }
 
 header section {
 float: left;
 padding-left: 16px;
 width: 32%;
 }

 header nav {
 clear: both;
 }
}

@media all and (min-width: 900px) {
    .section1, .section1 p img, .section1 video, .section1 img {
 float: left;
 margin-left: 32px;
 width: 33%;
 text-align: center;
 }
 
 .section2 {
 float: left;
 padding-left: 32px;
 padding-top: 90px;
 width: 63%;
 }

 footer {
 clear:both;
}
}

@media all and (min-width: 900px) {
    .section1, .section1 p img, .section1 video, .section1 img {
        float: left;
        margin-left: 32px;
        width: 33%;
        text-align: center;
    }

*/
